.gameBox{
    width: 30%;
    height: 100%;
    margin: 1rem;
    display: inline-block;
}
.wrapper{
    background: linear-gradient(-90deg, black, #740d0d);
    background-size: cover;
    height: fit-content;
}
#header{
    color: whitesmoke;
}
.lead{
    display: inline;
}