.landing{
    height: inherit;
    background-image: url("../../assets/video-game-characters-wallpaper-high-resolution-Is-Cool-Wallpapers.jpg");
    background-size: cover;
}
.forms{
    display: inline-block;
    width: 400px;
    border: 5px solid blue;
    border-radius: 20px;
    padding: 9px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.789);
    filter: alpha(opacity=60);
}